body {
  background-color: rgb(233, 233, 233);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  margin-top: 3em;

  img {
    border-radius: 50%;
  }

  .card {
    margin: 2em;
    width: 350px;
    height: 200px;
    background-color: rgb(155, 160, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    h1,
    h2 {
      color: lightgray;
      transform: translateZ(30px);
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;

  ol {
    text-align: left;
    width: 300px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
  details {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    summary {
      text-align: left;
    }
    p {
      text-align: left;
      margin: 0;
    }
  }
}

.about {
  width: 500px;

  p {
    text-align: left;
    margin: 2em 0;
  }
}

.contact {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 300px;
  }
}

footer {
  width: 100%;
  background-color: rgb(66, 66, 66);
  color: lightgray;
}
